<h1>ola mundo</h1>

<% @autors.each do |autor| %>
  <div>
    <h1><%=autor.nome%></h1>
  </div>
<% end %>

<% @livros.each do |livro|  %> 
  <div>
  <h1><%= livro.titulo %></h1>
  </div>
<% end %>



