
<h1>Cadastrar Autor</h1>
<%= form_with model:@autor, url:create_autor_path  do |form| %>
  <div>
      <%= form.label :nome %>
      <%= form.text_field :nome %>
  </div>


  <%= form.button %>

<% end %>
